@model IEnumerable<BIGSCHOOL.Models.Course>

@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@



<div class="panel panel-success">
    <div class="panel-heading">
        <strong class="panel-title">KHÓA HỌC SẮP TỚI CỦA TÔI</strong>
    </div>
    <table class="table table-hover table-condensed">
        <thead class="bg-danger">
            <tr>
                <th>Thời gian bắt đầu</th>
                <th>Giảng viên</th>
                <th>Tên khóa học</th>
                <th>Địa điểm</th>
                <th>Chỉnh sửa</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DateTime.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@item.LectureName</td>
                    <td>@item.Category.Name</td>
                    <td>@item.Place</td>
                    <td>
                        <a href="/Courses3/Edit/@item.Id">Sửa</a> |
                       
                        <a href="/Courses3/Delete/@item.Id">Xóa</a> 
                    </td>



                </tr>

            }


        </tbody>
    </table>
</div>



