@{
    ViewBag.Title = "Home Page";
}


<p>
    @Html.ActionLink("Create New", "Create","Courses_2")
</p>

@using BIGSCHOOL.Models;
@model  IEnumerable<BIGSCHOOL.Models.Course>
@{ ViewBag.Title = "Home Page"; }

<h3> Danh sách khóa học sắp tới</h3>
<div class="row">
    <ul class="course">
        @foreach (var course in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @*@course.DateTime.ToString("dd/MM/yyyy HH:mm")*@
                        @course.DateTime.ToString("MM")

                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")

                    </div>

                </div>
                <div class="detail">
                    <span class="lecture">
                        @course.Name
                        @if (course.isLogin)
                        {
                            if (course.isShowFollow)
                            {
                                <button data-user-id="@course.LectureId" class="btn btn-default btn-sm js-tongle-follow">  Theo dõi?</button>

                            }
                            else
                            {
                                <button data-user-id="@course.LectureId" class="btn btn-success btn-sm js-tongle-follow">  Đang theo dõi</button>

                            }



                        }


                    </span>
                    <br />
                    <span class="category">
                        @course.Category.Name -- @course.Id
                        @if (course.isLogin)
                        {
                            if (course.isShowGoing)
                            {
                                <button data-course-id="@course.Id" class="btn btn-default btn-sm js-tongle-attendance">Tham gia?</button>


                            }
                            else
                            {
                                <button data-course-id="@course.Id" class="btn btn-success btn-sm js-tongle-attendance">Đã tham gia</button>

                            }

                        }


                    </span>



                </div>

            </li>
        }
    </ul>




    @section scripts{
        <script>
           
            $(".js-tongle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/Attendances", { Id: button.attr("data-course-id") })
                    .done(function (result) {
                        if (result == "cancel") {
                            alert("Hủy bỏ tham gia khóa học!!")
                            button
                                .removeClass("btn-success")
                                .addClass("btn-default")
                                .text("Tham gia?");
                        } else {
                            alert("Tham gia khóa học thành công <3!")
                            button
                                .removeClass("btn-default")
                                .addClass("btn-success")
                                .text("Đã tham gia");
                        }
                    }).fail(function () {
                        alert("Something fail");
                    });
            });
            $(".js-tongle-follow").click(function (e) {
                var button = $(e.target);
                var followee = button.attr("data-user-id");
                $.post("/api/Following", { FolloweeId: button.attr("data-user-id") })
                    .done(function (result) {
                        if (result == "cancel") {
                            $('.js-tongle-follow').each(function (i, obj) {
                                if ($(this).attr('data-user-id') == followee) {
                                    $(this).removeClass("btn-success")
                                        .addClass("btn-default")
                                        .text("Theo dõi?");
                                }
                            });
                            alert("Hủy bỏ theo dõi !! ")
                        } else {
                            $('.js-toggle-follow').each(function (i, obj) {
                                if ($(this).attr('data-user-id') == followee) {
                                    $(this).removeClass("btn-default")
                                        .addClass("btn-success")
                                        .text("Đang theo dõi <3");
                                }
                            });
                            alert("Theo dõi thành công <3")
                        }
                    }).fail(function () {
                       @* alert("Something fail");*@
                         alert("Không thể tự theo dõi chính mình");
                    });
            });
               
        </script>
    }

   

</div>